body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;

}
.orange{
    color: orange;
    font-size: 60px;
}
section{
    display:flex;
}
.a{
    width: 50%;
    padding: 100px 80px;
}
.click-button{
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(rgb(219, 20, 36), rgb(244, 201, 9) );
    border-radius: 10px;
    border-style: double;
    border-width: 2px;
    border-color: rgb(18, 223, 76);
    margin-left: 50px;
    
}
